#root {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;

    .login-page-container {
        background-image: url("./../../Assets/Images/login_bg_page2.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
    }
}
