
@font-face {
    font-family: "Gotham-Medium";
    src: url("Gotham-Medium.eot");
    src: url("Gotham-Medium.eot?#iefix") format("embedded-opentype"),
      url("Gotham-Medium.otf") format("opentype"),
      url("Gotham-Medium.woff") format("woff"),
      url("Gotham-Medium.ttf") format("truetype"),
      url("Gotham-Medium.svg#Gotham-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham-Book";
    src: url("Gotham-Book.eot");
    src: url("Gotham-Book.eot?#iefix") format("embedded-opentype"),
      url("Gotham-Book.otf") format("opentype"),
      url("Gotham-Book.woff") format("woff"),
      url("Gotham-Book.ttf") format("truetype"),
      url("Gotham-Book.svg#Gotham-Book") format("svg");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
	font-family: 'PSL242pro';
	src: url('PSL242pro.eot');
	src: local('☺'), url('PSL242pro.woff') format('woff'), url('PSL242pro.ttf') format('truetype'), url('PSL242pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'db_chuanpim_xbold';
    src: url('db_chuanpim_x_bd_v3.2-webfont.eot');
    src: url('db_chuanpim_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_chuanpim_x_bd_v3.2-webfont.woff2') format('woff2'),
         url('db_chuanpim_x_bd_v3.2-webfont.woff') format('woff'),
         url('db_chuanpim_x_bd_v3.2-webfont.ttf') format('truetype'),
         url('db_chuanpim_x_bd_v3.2-webfont.svg#db_chuanpim_xbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_chuanpim_xrugular';
    src: url('db_chuanpim_x_v3.2-webfont.eot');
    src: url('db_chuanpim_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_chuanpim_x_v3.2-webfont.woff2') format('woff2'),
         url('db_chuanpim_x_v3.2-webfont.woff') format('woff'),
         url('db_chuanpim_x_v3.2-webfont.ttf') format('truetype'),
         url('db_chuanpim_x_v3.2-webfont.svg#db_chuanpim_xrugular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_chuanpim_xdemi';
    src: url('db_chuanpim_x_demi_v3.2-webfont.eot');
    src: url('db_chuanpim_x_demi_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_chuanpim_x_demi_v3.2-webfont.woff2') format('woff2'),
         url('db_chuanpim_x_demi_v3.2-webfont.woff') format('woff'),
         url('db_chuanpim_x_demi_v3.2-webfont.ttf') format('truetype'),
         url('db_chuanpim_x_demi_v3.2-webfont.svg#db_chuanpim_xdemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_chuanpim_x';
    src: url('db_chuanpim_x_v3.2-webfont.eot');
    src: url('db_chuanpim_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('db_chuanpim_x_v3.2-webfont.woff2') format('woff2'),
         url('db_chuanpim_x_v3.2-webfont.woff') format('woff'),
         url('db_chuanpim_x_v3.2-webfont.ttf') format('truetype'),
         url('db_chuanpim_x_v3.2-webfont.svg#db_chuanpim_xdemi') format('svg');
    font-weight: normal;
    font-style: normal;
}