.banpuLogo{
    margin-top: 0px;
}

.separateLine{
    margin-top: 30px;
}

.ApplicationName{
    font-family: "Gotham-book",sans-serif !important;
    margin: 10px 0px 40px 0px !important;
    font-size: 26x !important;
    font-weight: bold !important;
    color: white !important;
}
